Package: com.mrpowergamerbr.butterscotch.ios
Name: Butterscotch
Version: 0.7.6
Architecture: iphoneos-arm
Description: GameMaker: Studio runner for iOS — targeting Undertale v1.08 on iPod Touch 2G
Maintainer: MrPowerGamerBR + Butterscotch contributors
Author: MrPowerGamerBR + Butterscotch contributors
Section: Games
Tag: role::user
